@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap");

body {
  font-size: 30px;
  color: white;
  font-family: "Reenie Beanie", cursive, sans-serif;
  margin: 20px;
  background: #2f4f4f;
}

.kbd-navigation {
  background: #ddd;
}
